@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Playfair+Display");

/* base data ---------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background: #000;
}

body {
  min-height: 100vh;
  color: #57585c;
  color: var(--color-text);
  background: #fff;
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fade effect */
.js body {
  opacity: 0;
  transition: opacity 0.3s;
}

.js body.render {
  opacity: 1;
}

/* Page Loader */
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-text);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

button:focus {
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.content {
  flex-direction: column;
  height: auto;
  min-height: 0;
}

.content--fixed {
  position: relative;
  z-index: 1000;
  display: block;
  padding: 0.85em;
}

.codrops-header {
  flex-direction: column;
  align-items: center;
}

.codrops-header__title {
  font-weight: bold;
  padding-bottom: 0.25em;
  text-align: center;
}

.info {
  margin: 0;
}

.codrops-links {
  margin: 0;
}

.message {
  position: relative;
  z-index: 100;
  padding: 1em;
  text-align: center;
  color: var(--color-message);
  background: var(--color-text);
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

main {
  position: relative;
  width: 100%;
}

/* Header */
.codrops-header {
  position: relative;
  z-index: 100;
  display: flex;
}

.codrops-header__title {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0.75em 0;
}

.info {
  color: var(--color-info);
  text-align: center;
}

/* Top Navigation Style */
.codrops-links {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.codrops-icon {
  display: inline-block;
  margin: 0.15em;
  padding: 0.25em;
}

.demos {
  text-align: center;
  line-height: 2;
  margin: 1rem 0 0 0;
}

.github {
  display: block;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content--switch {
  padding: 2.5rem 1rem;
}

.demo--current {
  opacity: 0.5;
}

@media screen and (min-width: 55em) {
  .message {
    display: none;
  }

  .codrops-header {
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    align-self: start;
    grid-area: header;
    justify-self: start;
  }

  .codrops-links {
    margin-right: 1rem;
  }

  .info {
    text-align: left;
    margin: 0 0 0 1.25em;
  }

  .content {
    margin: 0 auto;
    min-height: 100vh;
  }

  .js .content--switch {
    display: none;
  }

  .js .content--switch-current {
    display: flex;
  }

  .content--fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    min-height: 0;
    height: 100vh;
    padding: 1.5em;
    pointer-events: none;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto 4em;
    grid-template-areas:
      "header ..."
      "... ..."
      "menu demos";
  }

  .content--fixed a {
    pointer-events: auto;
  }

  .demos {
    grid-area: demos;
    align-self: end;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .demo:nth-child(2) {
    margin: 0 3rem 0 1.5rem;
  }
}

/* demo2 -------------------------------------------------------------*/
.demo-2 {
  font-family: "Josefin Sans", sans-serif;
  --color-text: #000;
  --color-bg: #9c9c9c;
  --color-bg: rgba(10, 6, 42, 0.94);
  --color-message: rgba(237, 237, 63, 0.94);
  --color-link: #8958b1;
  --color-link-hover: #fff;
  --color-info: #000;
}

.content__title {
  font-family: "Playfair Display", serif;
  font-size: 8vw;
  margin: 0;
  position: relative;
  font-weight: normal;
  color: darkorange;
  text-shadow: 4px -3px 9px black;
}

#content-1 .content__title {
  text-shadow: 4px -3px 2px black;
  color: #d8e01c;
}

#content-2 .content__title {
  color: #00e2eb;
  text-shadow: 1px 1px 1px #ffffff, 2px 2px 2px #af3232;
}

#content-4 .content__title {
  color: #f5ec00;
  color: #f5ff00;
  text-shadow: 2px 3px 10px white;
}

#content-5 .content__title {
  color: #f5ff00;
}

#content-6 .content__title {
  color: #5195d0;
  color: #0a13fa;
  text-shadow: 0px 0px 15px #ffffff, 2px 2px 2px #000000;
}

.content__subtitle {
  font-size: 1.45rem;
  padding: 1rem 0;
  letter-spacing: 2px;
  text-indent: 2px;
  color: rgb(252, 255, 244);
  text-shadow: 2px 2px 2px #2f00cb;
  text-align: center;
  line-height: 2rem;
}

.content__subtitle::after {
  content: "\2014";
  position: relative;
  display: block;
  font-size: 2.75rem;
  text-align: center;
}

.menu-trigger {
  display: none;
}

.grim {
  display: none;
}

.content--switch {
  background-size: cover;
}

.content--switch::after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(transparent, #000);
}

#content-1 {
  background-image: url(https://res.cloudinary.com/marianalla/image/upload/v1527695804/main-1400-836.jpg);
}

#content-2 {
  background-image: url(https://res.cloudinary.com/marianalla/image/upload/v1527691594/medicine2-1200-800.jpg);
}

#content-3 {
  background-image: url(https://res.cloudinary.com/marianalla/image/upload/v1527691566/every-day1200-800.jpg);
}

#content-4 {
  background-image: url(https://res.cloudinary.com/marianalla/image/upload/v1527691547/epigenetics2-1200-800.jpg);
}

#content-5 {
  background-image: url(https://res.cloudinary.com/marianalla/image/upload/v1527691580/e-learning2-1200-800.jpg);
}

#content-6 {
  background-image: url(https://res.cloudinary.com/marianalla/image/upload/v1527691556/motivation-1200-800.jpg);
  background-image: url(https://res.cloudinary.com/marianalla/image/upload/v1527705837/motivation3-1200-800.jpg);
  background-image: url(https://res.cloudinary.com/marianalla/image/upload/v1527706249/motivation4-1200-800.jpg);
}

/* BUTTONS */

#content-1 a,
#content-2 a,
#content-3 a,
#content-4 a,
#content-5 a,
#content-6 a {
  display: inline-block;

  color: black;
  margin-top: 1rem;
  border: 1px solid white;
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-shadow: 1px 1px 1px white;
  border-radius: 5px;
  line-height: 1rem;
  transition: all 200ms;
  /*background-image:url(https://res.cloudinary.com/marianalla/image/upload/v1527695804/main-1400-836.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  background-color: darkkhaki;
  filter: sepia(50%);
}

#content-4 a {
  border: 2px solid yellow;
  background-color: #dd8d8d;
  text-shadow: 1px 1px 1px #000000;
  color: #fdfdfd;
  letter-spacing: 0.05rem;
  font-size: 1.3rem;
}

#content-1 a:hover,
#content-2 a:hover,
#content-3 a:hover,
#content-4 a:hover,
#content-5 a:hover,
#content-6 a:hover {
  filter: brightness(1);
  color: aliceblue;
  text-shadow: 1px 1px 1px black;
  background-image: none;
  background-color: darkorange;
  border: 1px solid black;
  transform: scale(1.2);
}

@media screen and (min-width: 55em) {
  .menu-trigger {
    display: inline-block;
    background: none;
    border: 0;
    grid-area: menu;
    justify-self: start;
    align-self: end;
    cursor: pointer;
    pointer-events: auto;
    font-family: inherit;
    color: inherit;
    position: relative;
    padding: 0;
    color: #fff;
    white-space: nowrap;
  }

  .menu-trigger--close {
    color: #000;
    align-self: center;
  }

  .grim {
    display: grid;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(32, 3.125vw);
    grid-template-rows: repeat(32, 3.125vh);
    pointer-events: none;
  }

  .grim--open {
    pointer-events: auto;
  }

  .grim__item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grim__item:first-child {
    grid-area: 31 / 1 / 33 / 2;
  }

  .grim__item:nth-child(2) {
    grid-area: 31 / 2 / 33 / 3;
  }

  .grim__item:nth-child(3) {
    grid-area: 29 / 1 / 31 / 3;
  }

  .grim__item:nth-child(4) {
    grid-area: 29 / 3 / 33 / 5;
  }

  .grim__item:nth-child(5) {
    grid-area: 25 / 1 / 29 / 5;
  }

  .grim__item:nth-child(6) {
    grid-area: 25 / 5 / 33 / 9;
  }

  .grim__item:nth-child(7) {
    grid-area: 17 / 1 / 25 / 9;
  }

  .grim__item:nth-child(8) {
    grid-area: 17 / 9 / 33 / 17;
  }

  .grim__item:nth-child(9) {
    grid-area: 1 / 1 / 17 / 17;
  }

  .grim__item:nth-child(10) {
    grid-area: 1 / 17 / 33 / 33;
  }

  .grim__item-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 0 0 2px currentColor;
    background: currentColor;
  }

  .grim__item-bg--1 {
    color: #f1d3b9;
  }
  .grim__item-bg--2 {
    color: #df9e98;
  }
  .grim__item-bg--3 {
    color: #fcfdff;
  }
  .grim__item-bg--4 {
    color: #9ed4d4;
  }
  .grim__item-bg--5 {
    color: #000;
  }

  .grim__item-bg--6 {
    color: #7296de;
  }
  .grim__item-bg--7 {
    color: #7c95b5;
  }
  .grim__item-bg--8 {
    color: #86bfbf;
  }
  .grim__item-bg--9 {
    color: #af9b9b;
  }
  .grim__item-bg--10 {
    color: #c57d76;
  }

  .grim__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 100%;
    background-color: currentColor;
  }

  .grim__item-img--1 {
    color: #fcfdff;
  }
  .grim__item-img--2 {
    color: #a9bdd6;
  }
  .grim__item-img--3 {
    color: #9ed4d4;
  }
  .grim__item-img--4 {
    color: #d0bebe;
  }
  .grim__item-img--5 {
    color: #df9e98;
  }

  .grim__item-content {
    position: relative;
    color: #000;
    overflow: hidden;
  }

  .grim__item-content:hover,
  .grim__item-content:focus {
    opacity: 0.8;
    color: inherit;
    transition: opacity 0.3s;
  }

  .grim__item-inner {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    opacity: 0;
  }

  .grim__item-title {
    font-weight: normal;
    margin: 0;
    font-size: 4vmax;
    font-family: "Playfair Display", serif;
  }

  .grim__item:nth-child(-n + 6) .grim__item-title {
    font-size: 2vmax;
  }

  .grim__item:nth-child(5) .grim__item-title {
    color: #fff;
  }

  .grim__item-desc {
    font-size: 0.85rem;
    margin: 0.5rem 0 0 0;
  }

  .grim__item-desc::after {
    content: "\2014";
    position: relative;
    display: block;
    font-size: 1.75rem;
  }
}
